<%if task_for_project_leaders  %>

	<li>
	<%= div_for(task) do %>
	<table>
	<tr>
	<th><%= link_to task.name, edit_task_path(task), :remote => true %></th>
	<td><%= button_to 'Destroy', task, :confirm => 'Are you sure?',
          :method => "delete", :remote => true, :class=>'delete_button'  %></td>
	</tr></table>
	<% end %> 
	</li>

<%else %>

	<%if current_user.has_role?(:development, task)  %>
	<li>
	<%= div_for(task) do %>
	<%= link_to task.name, task, :remote => true %>
	<% end %> 
	</li>
	<% end %>

<% end %>
