<%if current_user.has_role( :project_leader ) %>
  <li>
<%end%>


<%= div_for(area) do %>

  <%if current_user.has_role(:project_leader ) %>
  <%= link_to area.name, edit_area_path(area), :remote => true %>
  <%end%>

  <%if current_user.has_role?(:administrator ) %>
	  <em><%= area.name %></em> 
  	  <%= link_to 'Destroy', area, :confirm => 'Are you sure?', :method => :delete, :remote=>true %>
  <% end %>

<% end %>

<%if current_user.has_role?(:project_leader ) %>
<ul id="subareas_<%=area.id.to_s%>" >
	<%= render :partial => "subarea", :collection => area.children %>
</ul>
<%end%>

<%if current_user.has_role?(:project_leader ) %>
  </li>
<%end%>