<%= show_to :project_leader do %>
  <li>
<%end%>


<%= div_for(area) do %>

  <%= show_to :project_leader do %>
  <%= link_to area.name, edit_area_path(area), :remote => true %>
  <%end%>

  <%= show_to :administrator do %>
	  <em><%= area.name %></em> 
  	  <%= link_to 'Destroy', area, :confirm => 'Are you sure?', :method => :delete, :remote=>true %>
  <% end %>

<% end %>

<%= show_to :project_leader do %>
<ul id="subareas_<%=area.id.to_s%>" >
	<%= render :partial => "subarea", :collection => area.children %>
</ul>
<%end%>

<%= show_to :project_leader do %>
  </li>
<%end%>