<div id="content_left">

<h1>
<%= show_to :administrator do %>
Areas del sistema
<%end%>
<%= show_to :project_leader do %>
Areas que coordina
<%end%>
</h1>

<%= show_to :project_leader do %>
<ul id="navigation">
<%end%>

<%= show_to :administrator do %>
<div id="areas">
<%end%>

  <%= render :partial => "area", :collection => @areas %>

<%= show_to :administrator do %>
</div>
<%end%>

<%= show_to :project_leader do %>
</ul>
<%end%>

</div>

<div id="content_right">
<%= show_to :administrator do %>
	<h1>Agregar nueva area</h1>
	<div id="errors_list"></div>
	<%= form_for Area.new, :remote=>true do |f| %>
  		<%= render :partial => "form", :object => f %>
  		<%= f.submit "Agregar area" %>
	<% end %>
<%end%>    
</div>