<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @area.string %>
</p>

<p>
  <b>Text:</b>
  <%= @area.text %>
</p>


<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
